body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.cardapio {
    border-collapse: collapse;
    margin: auto;
    width: 60%;
}

.cardapio th {
    background-color: #ddd;
    padding: 10px;
    border: 1px solid black;
}

.cardapio td {
    padding: 10px;
}